@charset "utf-8";
@import '/src/utils';

main {
  width: 100%;

  /* section common style */
  section {
    display: flex;
    justify-content: center;
    padding: 0 4rem;
    @include large {
      padding: 0 1.8rem;
    }

    .container {
      width: 100%;
      max-width: 132rem;
      display: flex;

      .section-title {
        text-align: center;
        font-weight: 800;
        font-size: 4rem;
        @include large {
          font-size: 3.6rem;
        }
        @include regular {
          font-size: 3.4rem;
        }
        @include small {
          font-size: 3rem;
        }
      }
    }
  }

  /* intro section */
  .intro {
    width: 100%;
    height: 100vh;
    background: url('../../assets/images/bg.jpeg') center / cover no-repeat;
    overflow: hidden;

    .container {
      height: 100%;

      .intro-text {
        width: 100%;
        flex: 0 0 33.3%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 27rem;
        padding: 0 1.2rem;

        h2, p, .view-btn {
          color: #fff;
        }

        h2 {
          font-weight: 800;
          font-size: 6.4rem;
          @include large {
            font-size: 5.6rem;
          }
        }

        p {
          margin: 2rem 0 6.5rem;
          line-height: 1.6;
          opacity: 0.7;
          font-size: 2.4rem;
          @include large {
            font-size: 2rem;
          }
        }

        img {
          width: 22rem;
        }

        .view-btn {
          display: flex;
          align-items: center;
          margin-top: 22rem;

          span {
            &:first-child {
              position: relative;
              display: block;
              width: 4.5rem;
              height: 4.5rem;
              background-color: rgba(#fff, 0.05);
              border-radius: 50%;

              &::after {
                @include web-icon('\ea4a', 1.8rem);
                left: 50%;
                transform: translate(-50%, -50%);
              }
            }

            &:last-child {
              margin-left: 1.5rem;
              font-size: 1.6rem;
              opacity: 0.7;
            }
          }
        }
      }

      .intro-images {
        flex-shrink: 0;
        width: 100%;
        display: flex;
        align-items: flex-start;
        padding: 0 1.2rem;

        img {
          width: 48.6rem;
        }
      }
    }
  }

  /* cards section */
  .cards {
    width: 100%;
    margin: 9rem 0;
    @include large {
      margin: 7rem 0;
    }
    @include regular {
      margin: 5.6rem 0;
    }
  }

  /* landing section */
  .landings {
    .container {
      flex-direction: column;

      h2 {
        margin-bottom: 1.6rem;
      }

      p {
        margin-bottom: 4.8rem;
        text-align: center;
        font-size: 1.8rem;
      }

      ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  /* features section */
  .features {
    margin: 4.8rem 0;
    @include large {
      margin: 2.4rem 0;
    }

    .container {
      flex-direction: column;
      padding-bottom: 4.8rem;
      @include large {
        padding-bottom: 1.6rem;
      }
      @include regular {
        padding-bottom: 0;
      }

      h2 {
        padding: 2.4rem 0 4rem;
        @include large {
          padding: 1.6rem 0 2.4rem;
        }
        @include regular {
          padding: 4px 0 1.6rem;
        }
      }
  
      ul {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }
}

/* breakpoint-regular */
@include regular {
  main {
    /* intro section  */
    .intro {
      .container {
        justify-content: center;
        align-items: center;

        .intro-text {
          flex-basis: auto;
          align-items: center;

          h2 {
            font-size: 5rem;
          }

          p {
            font-size: 2.2rem;
            text-align: center;

            br {
              display: none;
            }
          }

          .view-btn {
            margin-top: 26rem;
          }
        }

        .intro-images {
          display: none;
        }
      }
    }
  }
}