$purple: #6366f1;
$deep-purple: #4044ee;

@mixin gradient-color {
  background: linear-gradient(to right, #6366f1, #8B5CF6, #D946EF);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(0, 0, 0, 0);
}

@mixin web-icon($content, $size) {
  content: $content;

  font: {
    family: 'boxicons';
    size: $size;
    weight: 400;
  }

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

@mixin common-button {
  width: 100%;
  min-width: 12.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $purple;
  color: #fff;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 6px;
  transition: all 0.2s ease-in;

  i {
    font-size: 2rem;
    padding-right: 5px;
  }

  &:hover {
    background-color: $deep-purple;
  }
}

$breakpoint-large: 991px;
$breakpoint-regular: 767px;
$breakpoint-small: 499px;

@mixin large {
  @media screen and (max-width: $breakpoint-large) {
    @content;
  }
}

@mixin regular {
  @media screen and (max-width: $breakpoint-regular) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: $breakpoint-small) {
    @content;
  }
}