$purple: #6366f1;
$deep-purple: #4044ee;

@mixin web-icon($content, $size) {
  content: $content;

  font: {
    family: 'boxicons';
    size: $size;
    weight: 400;
  }

  position: absolute;
  top: 50%;
  right: -5px;
  transform: translateY(-50%);
}