@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap');

*,*::before,*::after {
  box-sizing: border-box;
}

html,body,h1,h2,h3,h4,h5,h6,div,p,ul,ol,li,nav,section,article,header,footer,main,aside,label,form,input,button {
  margin: 0;
  padding: 0;
}

body,input,button,img {
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  min-width: 32rem;
  font: {
    family: 'Manrope', sans-serif;
    size: 1.6rem;
    weight: 400;
  }
  color: #33354d;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

button {
  color: inherit;
  font-family: inherit;
  background: none; 
  cursor: pointer;
}

ul,ol,li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}